<div class="home-container">
  <div *ngIf="loading" class="home-loading">Loading films...</div>
  <ng-container *ngIf="!loading">
    <div *ngFor="let category of categories; let i = index" class="category-section">
      <div class="category-title">{{ category.category }}</div>
      <div class="film-carousel position-relative">
        <button class="carousel-arrow left" (click)="scrollCarousel(i, -1)" [disabled]="carouselAtStart[i]">
          &#10094;
        </button>
        <div class="film-carousel-track" #carouselTrack>
          <div class="film-carousel-card" *ngFor="let film of category.films">
            <a [routerLink]="['/film', film.film_id]" class="film-link">
              <div class="film-carousel-image" [ngStyle]="{'background': getRandomGradient(film.film_id)}">
                <span class="film-carousel-icon">🎬</span>
              </div>
              <div class="film-carousel-title">{{ film.title }}</div>
              <div class="film-carousel-meta">{{ film.release_year }} • {{ film.rating }}</div>
            </a>
          </div>
        </div>
        <button class="carousel-arrow right" (click)="scrollCarousel(i, 1)" [disabled]="carouselAtEnd[i]">
          &#10095;
        </button>
      </div>
    </div>
  </ng-container>
</div>
